set -ex
base_input=${NOL}'/data/synthetic/er-graph_N-10000_p-0.001/'
base_sample='node-sample-'
base_output=${NOL}'/results/synthetic/er-graph_N-10000_p-0.001/'${base_sample}

model=$1
networks='1'
iterations='2'
episodes='1'
budget='50'
savegap='0'
features='linear'
featuretype=$2
burnin='0'
rewardfunction=$3
p_vals='0.3'
alpha_vals='0.01'
sample_vals='0.01'
gamma_vals='0.0'
lambda_vals='0.0'
ktype='int'
k_vals='4'
compute_samp=False
decay=0
program='../nol/run_experiment.py'
